html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.navbar-default {
    background-color: darkslategrey;
    /*color:darkorange;*/
    background-image: none;
    background-repeat: no-repeat;
}

hr.info-line {
    height: 30px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr.info-line:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.access-green {
    color: green;
}

.access-red {
    color: red;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
/* Custom page CSS
        -------------------------------------------------- */
/* Not required for template or sticky footer method. */
body > .container {
    padding: 60px 15px 0;
}

h3 {
    text-decoration: underline double;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.container .text-muted {
    margin: 20px 0;
}

.col-options {
    border: solid 2px;
    padding: 20px;
}

.col-show {
    border: solid 2px;
    padding: 20px;
    margin-left: 2px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}
/* Custom page CSS
        -------------------------------------------------- */
/* Not required for template or sticky footer method. */
.container {
    width: auto;
    max-width: 1200px;
    padding: 0 15px;
}

    .container .text-muted {
        margin: 20px 0;
    }
